<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Role</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of userArray">
                    <th>{{item.email}}</th>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.role}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>