<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input [ngModelOptions]="{standalone: true}"  [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button class="btn btn-primary" (click)="login()">Login</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <button (click)="navigateToRegister()" class="btn btn-primary">Register</button>
              </form>
        </div>
    </div>
</div>