<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-md-6">
            <!-- registration form -->
            <form>
                <!-- registration form email row-->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input [ngModelOptions]="{standalone: true}" type="email" [(ngModel)]="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>

                </div>

                <!-- registration form password row-->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Confirm Password</label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="confirmPassword" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>

                <!-- registration form name row-->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">First Name</label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="firstName"  type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Last Name</label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="lastName" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <button class="btn btn-primary" (click)="registerUser()" >Register</button>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button class="btn btn-primary" (click)="navigateToLogin()">Login</button>
            </form>
        </div>
    </div>
</div>